<style>
.left a, .left a:visited, .left a:focus {
  text-decoration: underline;
}

</style>
  <div class="left">
    <h1>Account </h1>
    <h4><%= @user.email %></h4>
    <i>Member Since: <%= @user.created_at.strftime("%B %d, %Y")  %></i>
    <h4><%= @user.comments.count %> total comments</h4>
    <h4><%= @user.comments.count %> total places</h4>
    <h4><%= @user.comments.where(rating: '5').count %> total 5 star reviews</h4>

    <br>

  <h1 class="text-center">My Places</h1>
  <% if @user.places.present? %>
    <% @user.places.each do |place| %>
        <h3><%= link_to place.name, place_path(place) %></h3>
        <i><%= place.address %></i><br />
        <p><%= place.description %></p>
    <% end %>
  <% else %>
    <p>No places</p>
  <% end %>

  <br>

  <h1 class="text-center">My Comments</h1>
    <% if @user.comments.present? %>
      <% @user.comments.each do |comment| %>
        <div style="margin-bottom: 20px; font-weight: 300;">
            <% if comment.humanized_rating.present? %>
              <b style="color: #ee2e24; font-weight: 400"><%= comment.humanized_rating %></b> -
            <% end %>
            <%= comment.message %>
        </div>
      <% end %>
    <% else %>
    <p>No comments</p>
    <% end %>
  </div>
