<style>
.left a, .left a:visited, .left a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.1s ease;
}
</style>

<div class="center">
  <div class="left">
    <h1>Profile </h1>
    <h3> <%= @user.email %></h3>
    <i>Member Since: <%= @user.created_at.strftime("%B %d, %Y")  %></i>
    <h4><%= @user.comments.count %> total comments</h4>
    <h4><%= @user.comments.count %> total places</h4>
    <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>

    <br>

  <h1 class="text-center">My Places</h1>

    <% @user.places.each do |place| %>
        <h3 style="text-decoration: underline"><%= link_to place.name, place_path(place) %></h3><br />
        <i><%= place.address %></i><br />
        <p><%= place.description %></p><br />
    <% end %>
  
    <br>

  <h1 class="text-center">My Comments</h1>
    <% @user.comments.each do |comment| %>
      <div style="margin-bottom: 20px;">
          <% if comment.humanized_rating.present? %>
            <b style="color:#3277ff"><%= comment.humanized_rating %></b> -
          <% end %>
          <%= comment.message %>
      </div>
    <% end %>
  </div>
</div>