<div class="center">
  <div class="left">
  <h1>Edit Your Place</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :defaultpicture %>
    <br>
    <%= f.submit 'Update', class: 'btn block' %>
    <%= link_to 'Cancel', root_path, class: 'btn block' %>
  <% end %>
  </div>
</div>