<style>
  .container {
    padding: 0;
  }
  nav {
    background: rgba(37, 37, 37, 0.65);
    width: 100%;
    top: 0;
    opacity: .9;
    position: fixed;
    z-index: 999;
    padding: 18px 10px 18px;
  }

  body {
    background: #111;
  }

</style>
<div class="jumbotron">  
  <h1>Hi,&nbspWelcome&nbspto&nbspthe Foodzie&nbspCommunity!<br> <span>Find honest reviews on local restaurants and cafes.<br>
    <% if !user_signed_in? %>
  <button id="button"><%= link_to 'Sign up', new_user_registration_path %></button></h1>
      <% end %>
 
</div>
<div id="photos">
  <% @places.each do |place| %>
    <div class="food-box col-md-6">
      <%= link_to place_path(place) do %>        
        <div class="image-box">
          <div class="color-box"></div>
          <div class="caption">
            <h1><%= place.name %> </h1>
            <p><%= place.address %> </p>

          </div>
          <%= image_tag place.defaultpicture, class: 'img' %> <!--remove this and add above -->        
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
<div class="center"> 
<%= will_paginate @posts %>
</div>

<script>
$( document ).ready(function() {
  $(".jumbotron h1" ).hide().fadeIn( "slow" );

    });
</script>


