  <% @places.each do |place| %>
    <div class="food-box">
      <h1 class="underline"><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i>
        <% if place.defaultpicture.present? %> 
        <br><br><%= image_tag place.defaultpicture %>
        <% end %>
      <p style="text-align: left"><%= place.description %></p>

      <% if place.user.present? %>
        <small style="text-align: left">Added by: <%= place.user.email %></small>
      <% end %>
      <br>
    </div>
  <% end %>
  <br>
<div class="center"> 
  <%= will_paginate @posts %>
</div>
