  <% @places.each do |place| %>
    <div class="food-box">
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i>
        <% if place.defaultpicture.present? %> 
        <br><br><%= image_tag place.defaultpicture %>
        <% end %>

      <!-- <% if place.user.present? %>
        <small><%= place.user.firstname %></small>
      <% end %> -->
      <p><%= place.description %></p>

      <% if place.user.present? %>
        <small>Added by: <%= place.user.email %></small>
      <% end %>
      <br>
    </div>
  <% end %>
  <br>
<div class="center"> 
  <%= will_paginate @posts %>
</div>
