  <div class="center"> 
    <h1>Enter a new place</h1>
    <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :defaultpicture %>
      <br>
      <%= f.submit 'Create' %>
    <% end %>
  </div>
