<style>

  form, textarea {
    width: 100% !important;
  }

  .left {
    max-width: 600px;
  }

</style>

<div class="center">
  <div class="left">

  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
    <% if @place.defaultpicture.present? %> 
    <br><br><%= image_tag @place.defaultpicture, class: 'img' %>
    <% end %>
  <p><%= @place.description %></p>

  <br>
  <% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxnxCCd0CwCP8hnBFDlGTf_WYuEz20r3M&callback=initMap">
    </script>
    <br>
    <h2>Location</h2>
    <div id="map"></div>
  <br>
    <% end %>

    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn' %>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: 'btn' %>
    <% end %>
    <br>
      <br>
      <br>

    <h2>Comments</h2>
        <% @place.comments.each do |comment| %>
          <div style="margin-bottom: 20px;">
              <% if comment.humanized_rating.present? %>
                <b style="color:#3277ff"><%= comment.humanized_rating %></b> -
              <% end %>
              <%= comment.message %>
              <br>
              <small>- <%= comment.user.email %></small>
          </div>
        <% end %>
      <br>
    <%= simple_form_for @comment, url: place_comments_path(@place) do |f|%>
      <%= f.input :message %>
      <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      <br>
      <%= f.submit "Comment", class: 'btn' %>
    <% end %>
  </div>
</div>