<!DOCTYPE html>
<html>
<head>
  <title>Foodzie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
  <ul>
    <li id="brand"><%= link_to 'Foodzie', root_path %></li>
    <li>Button</li>
    <li>Button</li>
  </ul>
</nav>
<br>

<%= yield %>

</body>
</html>
