<!DOCTYPE html>
<html>
<head>
  <title>Foodzie Community</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/favico.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
<span id="brand"><%= link_to root_path do %><%= image_tag "logo.png" %><% end %></span>

  <ul>
    <li id="home"><%= link_to 'Home', root_path %></li>
    <!-- <li><%= link_to 'About', about_path %></li> -->
    <li><%= link_to 'Create', new_place_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Account', user_path(current_user) %></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li id="button"><%= link_to 'SIGN UP', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
<div class="container">
  <!--<% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>-->
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>
